
.orange {
    background-color: #e53d23;
     
    }


    .mijn-carousel {
  max-width: 1800px;   /* breedte */
  margin: 0 auto;     /* gecentreerd */
}

.mijn-carousel .carousel-item img {
  height: 450px;      /* hoogte */
  object-fit: cover;  /* afbeelding bijsnijden zonder vervorming */
}
.list-group-item-licht-orange {
  background: linear-gradient(135deg, #eba163 100%);
  color: white;
  margin: 0;
  padding: 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
}
.aside-title {
  background: linear-gradient(135deg, #e53d23 100%);
  color: white;
  margin: 0;
  padding: 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
}
.dropdown-menu {
  min-width: auto;
  white-space: nowrap;
}
.dropdown-menu {
    min-width: auto;
    width: fit-content;
    position: static;
    float: none;
    box-shadow: none;
    
  }
  
  .dropdown-menu .dropdown-item {
    padding: 0.5rem 0rem;
  }
  .dropdown-item:hover {
    background-color: #eba163;
    color: white;
  }